
<style>

table, th, td {
   border: none!important;
}

</style>

<h1> Professors </h1>

<table>
{{ range index site.Data.members.professors "professors"}}
  {{ partial "member.html" . }}
{{ end }}
</table>

<h1> Research assistants </h1>

<table>
{{ range sort (index site.Data.members.ra "RA") ".name" }}
  {{ partial "member.html" . }}
{{ end }}
</table>

<h1> PostDoc </h1>

<table>
{{ range sort (index site.Data.members.postdoc "postdoc") ".name" }}
  {{ partial "member.html" . }}
{{ end }}
</table>

<h1> PhDs </h1>

<table>
{{ range sort (index site.Data.members.phds "phd") ".name" }}
  {{ partial "member.html" . }}
{{ end }}
</table>

<h1> Masters </h1>

<table>
{{ range sort (index site.Data.members.masters "masters") ".name" }}
  {{ partial "member.html" . }}
{{ end }}
</table>

<hr>

<h1> Past members </h1>
